<%include ../partials/header%>
<div class="container">
    <div class="row">
        <h1 class="display-3"><%=detail.ProductName%></h1>
    </div>
    <div class="form-group">
        <label for="productid">ID</label>
        <input readonly type="input" id="productid" value="<%=detail.ProductID%>" class="form-control">
        <small class="form-text text-muted">Help text</small>
    </div>
    <div class="form-group">
        <label for="productname">Name</label>
        <input readonly type="input" id="productname" value="<%=detail.ProductName%>" class="form-control">
        <small class="form-text text-muted">Help text</small>
    </div>
    <div class="form-group">
        <label for="quantityPerUnit">Quantity Per Unit</label>
        <input readonly type="input" id="quantityPerUnit" value="<%=detail.QuantityPerUnit%>" class="form-control">
        <small class="form-text text-muted">Help text</small>
    </div>
    <div class="form-group">
        <label for="unitPrice">Unit Price</label>
        <input readonly type="input" id="unitPrice" value="<%=detail.UnitPrice%>" class="form-control">
        <small class="form-text text-muted">Help text</small>
    </div>
    <div class="form-group">
        <label for="unitInStock">Units in Stock</label>
        <input readonly type="input" id="unitInStock" value="<%=detail.UnitsInStock%>" class="form-control">
        <small class="form-text text-muted">Help text</small>
    </div>
    <a href="/products" class="btn btn-primary"role="button"><< Back to Product list</a>
</div>
<%include ../partials/footer%>